body {
    background: #141b29;
    color: white;
}

h5,
h3 {
    margin: 0.6rem;
}

#main {
    border: 1px solid teal;
}

#main__content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 95%;
    margin: auto;
    margin-top: 80px;
    margin-bottom: 3rem;
}

#main__content>div {
    cursor: pointer;
    margin: auto;
    margin-top: 3rem;
    width: 80%;
    box-shadow: rgba(255, 255, 255, 0.35) 0px 5px 15px;
    border-radius: 5px;
    padding: 4px;
    background-color: #fff;
    color: black;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#main__content>div>img {
    height: 350px;
    width: 100%;
    margin: auto;
    border-radius: 5px;
}