body {
    font-family: "Roboto", "HelveticaNeue-Light", sans-serif;
    margin: 0 auto;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: white;
}

.navberFixed {
    width: 100vw;
    min-height: 80px;
    position: fixed;
    background: #141b29;
    color: white;
    margin: auto;
}

.navContainer {
    width: 90vw;
    margin: auto;
    min-height: 80px;
}

.navContainer {
    display: flex;
    align-items: center;
}

.navContainer>div {
    width: 33vw;
}

.header .nav-container .search-container {
    position: relative;
    z-index: 1;
}

.search-container>.input-open {
    width: 360px;
}

.search-container>input {
    position: relative;
    width: 240px;
    height: 32px;
}

.search-container>input:focus {
    outline: none;
    width: 360px;
    border-bottom: 1px solid #1f80e0;
}

#resultHolder {
    position: absolute;
    height: auto;
    transform: scale(0);
    margin-right: 15px;
}

#resultHolder .result-holderDiv {
    height: 100px;
    width: 350px;
    border: 5px solid rgb(65, 65, 65);
    background-color: rgb(32, 32, 32);
    color: white;
    display: flex;
}

#resultHolder>a>.result-holderDiv div p {
    font-size: 15px;
}

#resultHolder>a>.result-holderDiv div h2 {
    font-size: 15px;
}

.result-holderDivImg {
    height: 75px;
    margin: 10px;
}

.search-container {
    display: flex;
    justify-content: flex-end;
}

.search-container>#resultHolder {
    margin-top: 33px;
}

.loging {
    display: flex;
    justify-content: center;
}

#searchField {
    color: white;
    background-color: #141b29;
}

::placeholder {
    color: rgb(255, 255, 255, 0.8);
    opacity: 1;
    /* Firefox */

}



/*  index navbar style */

.search-container input {
    position: relative;
    width: 240px;
    height: 32px;
    border: none;
    border-bottom: 1px solid gray;
    color: var(--TEXT_COLOR_L2);
    font-size: 16px;
    outline: 0;
    padding: 0 28px 0 0px;
    border-radius: 0;
    background: none;
    transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    opacity: 1;
}

.search-container .searchIcon {
    pointer-events: none;
    height: 15px;
    width: 16px;
    opacity: .9;
}

.search-container .searchIcon .search-icon {
    background: url(data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeD0iMCIgeT0iMCIgdmlld0JveD0iMCAwIDI2IDI2IiB4bWw6c3BhY2U9InByZXNlcnZlIj48c3R5bGUgdHlwZT0idGV4dC9jc3MiPgoJLnN0MHtmaWxsOiM5MDk5OTk7fQoJLnN0MXtmaWxsOm5vbmU7ZW5hYmxlLWJhY2tncm91bmQ6bmV3ICAgIDt9Cjwvc3R5bGU+PHBhdGggY2xhc3M9InN0MCIgZD0iTTkuMiAyLjdjMy41IDAgNi4yIDIuNyA2LjIgNi4yIDAgMy41LTIuNyA2LjItNi4yIDYuMiAtMy41IDAtNi4yLTIuNy02LjItNi4yQzIuOSA1LjUgNS43IDIuNyA5LjIgMi43ek05LjIgMC4yYy00LjkgMC04LjcgMy45LTguNyA4LjcgMCA0LjkgMy45IDguNyA4LjcgOC43IDIuMSAwIDQuMS0wLjggNS42LTJsMC42IDAuNnYxbDcuOSA3LjkgMi4xLTIuMSAtNy45LTcuOWgtMS4xbC0wLjYtMC42YzEuMy0xLjUgMi4xLTMuNSAyLjEtNS42QzE3LjkgNC4xIDE0IDAuMiA5LjIgMC4yeiAgIi8+PC9zdmc+) no-repeat;
    display: inline-block;
    width: 100%;
    height: 23px;
    margin-left: -15px;
    margin-bottom: -15px;
}